@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* --color-border: #e5e5e5;
  --color-ring: #3b82f6;
  --color-background: #ffffff;
  --color-foreground: #0a0a0a; */

  --animate-accordion-down: accordion-down 0.2s ease-out;

  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
  from {
    height: 0;
    }
  to {
    height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    }
  to {
    height: 0;
    }
  }
}

